.services {
  padding: 30px 0 100px 0;
  background-color: #e6f0f9;
}
.service-title {
  text-align: center;
  padding-bottom: 60px;
}

.service-title h3 {
  color: var(--bluebold);
  font-size: 32px;
  position: relative;
  font-family: "Roboto-Bold";
}

.service-title h3:before,
.service-title h3:after {
  content: "";
  width: 10px;
  height: 2px;
  background: var(--bluebold);
  display: inline-block;
}

.service-title h3:before {
  margin: 0 10px 10px 0;
}

.service-title h3:after {
  margin: 0 0 10px 10px;
}

.service-title p {
  margin-bottom: 0;
  font-family: "Roboto-Regular";
  color: var(--black);
  font-size: 16px;
}
.service-item {
  position: relative;
  height: 300px;
  padding: 30px 25px;
  background: #ffffff;
  transition: 0.5s;
  border-radius: 5px;
}
.service-item:hover {
  background: var(--bluebold);
}
.service-item .service-icon {
  margin: 0 auto 20px auto;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background: url(../../img/serviceBG.png) center center no-repeat;
  transition: 0.5s;
  background-size: cover;
}
.service-item:hover .service-icon {
  color: var(--bluebold);
  background: url(../../img/icon-shape-white.png);
}
.service-item h5 {
  transition: 0.5s;
  font-family: "Roboto-Bold";
  font-size: 20px;
}
.service-item p {
  transition: 0.5s;
  font-family: "Roboto-Regular";
  font-size: 16px;
}
.service-item:hover h5,
.service-item:hover p {
  color: #fff;
}
.service-item a.btn {
  position: relative;
  display: flex;
  color: var(--bluebold);
  transition: 0.5s;
  z-index: 1;
  font-family: "Roboto-Medium";
  font-size: 18px;
}
.service-item:hover a.btn {
  color: var(--bluebold);
}
.service-item a.btn::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 35px;
  top: 0;
  left: 0;
  border-radius: 35px;
  background: #e6f0f9;
  transition: 0.5s;
  z-index: -1;
  padding: 20px 30px;
}
.service-item:hover a.btn::before {
  width: 100%;
  background: var(--light);
}
@media (max-width: 575px) {
  .service-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .service-title h3 {
    color: var(--bluebold);
    font-size: 28px;
    position: relative;
    font-family: "Roboto-Bold";
  }

  .service-title h3:before,
  .service-title h3:after {
    content: "";
    width: 10px;
    height: 2px;
    background: var(--bluebold);
    display: inline-block;
  }

  .service-title h3:before {
    margin: 0 10px 6px 0;
  }

  .service-title h3:after {
    margin: 0 0 6px 10px;
  }

  .service-title p {
    margin-bottom: 0;
    font-family: "Roboto-Regular";
    color: var(--bluebold);
    font-size: 14px;
  }
  .services {
    padding: 30px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .service-title p {
    margin-bottom: 0;
    font-family: "Roboto-Regular";
    color: var(--bluebold);
    font-size: 18px;
  }
  .services {
    padding: 30px 0 80px 0;
  }

  .service-title h3:before,
  .service-title h3:after {
    content: "";
    width: 10px;
    height: 2px;
    background: var(--bluebold);
    display: inline-block;
  }

  .service-title h3:before {
    margin: 0 10px 6px 0;
  }

  .service-title h3:after {
    margin: 0 0 6px 10px;
  }
}
