.feedback {
    padding: 100px 0;
}
.feedback-title {
    text-align: center;
    padding-bottom: 60px;
}

.feedback-title h3 {
    color: var(--bluebold);
    font-size: 32px;
    position: relative;
    font-weight: "Roboto-Medium";
}

.feedback-title h3:before,
.feedback-title h3:after {
    content: "";
    width: 20px;
    height: 2px;
    background: var(--bluebold);
    display: inline-block;
}

.feedback-title h3:before {
    margin: 0 15px 10px 0;
}

.feedback-title h3:after {
    margin: 0 0 10px 15px;
}

.feedback-title p {
    margin-bottom: 0;
    font-family: "Roboto-Regular";
    color: var(--bluebold);
    font-size: 16px;
}
.testimonial-item {
    padding: 0 20px;
}
.testimonial-item p {
    font-family: "Roboto-Regular";
    font-size: 16px;
    color: var(--gray);
}
.testimonial-item h5 {
    font-family: "Roboto-Bold";
    font-size: 22px;
    color: var(--bluebold);
}
.testimonial-item span {
    font-family: "Roboto-Light";
    font-size: 18px;
    color: var(--gray);
}
.testimonial-left,
.testimonial-right {
    position: relative;
}

.testimonial-left img,
.testimonial-right img {
    position: absolute;
    padding: 5px;
    border: 2px dashed var(--bluebold);
    border-radius: 10px;
}

.testimonial-left img:nth-child(1),
.testimonial-right img:nth-child(3) {
    width: 70px;
    height: 70px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-left img:nth-child(2),
.testimonial-right img:nth-child(2) {
    width: 60px;
    height: 60px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.testimonial-left img:nth-child(3),
.testimonial-right img:nth-child(1) {
    width: 50px;
    height: 50px;
    bottom: 10%;
    right: 10%;
}
.avatar-container {
    border-radius: 50px;
}

.rec.rec-arrow {
    border-radius: 50px;
    background-color: var(--bluebold);
    color: #ffffff;
}
.rec.rec-arrow:hover {
    background-color: var(--bluebold);
    color: #ffffff;
}
.slick-prev {
    left: -52px !important;
}
.slick-next:before,
.slick-prev:before {
    content: "" !important;
}
.next-slick-arrow,
.prev-slick-arrow {
    color: var(--bluebold);
    font-size: 40px;
}
@media (max-width: 575px) {
    .testimonial-item p {
        font-family: "Roboto-Regular";
        font-size: 12px;
        color: var(--gray);
    }
    .testimonial-item h5 {
        font-family: "Roboto-Bold";
        font-size: 18px;
        color: var(--bluebold);
    }
    .testimonial-item span {
        font-family: "Roboto-Regular";
        font-size: 14px;
        color: var(--gray);
    }
    .feedback {
        margin: 10px 0;
    }
    .rec.rec-arrow {
        border-radius: 50px;
        background-color: var(--bluebold);
        color: #ffffff;
    }
}
