.team {
  padding: 100px 0;
}
.section-title {
  text-align: center;
  padding-bottom: 60px;
}

.section-title h3 {
  color: var(--bluebold);
  font-size: 32px;
  position: relative;
  font-family: "Roboto-Bold";
}

.section-title h3:before,
.section-title h3:after {
  content: "";
  width: 20px;
  height: 2px;
  background: var(--bluebold);
  display: inline-block;
}

.section-title h3:before {
  margin: 0 15px 10px 0;
}

.section-title h3:after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin-bottom: 0;
  font-family: "Roboto-Regular";
  color: var(--bluebold);
  font-size: 16px;
}

.team .member {
  position: relative;
}

.team .member .member-img {
  margin: 0 80px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 3px solid var(--white);
  box-shadow: 0 15px 35px -10px rgba(0, 0, 0, 0.2);
}
.team .member .member-img-container {
  border-radius: 10px;
  padding: 15px;
  background-color: #ececeb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10px 30%;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.team .member .member-img img {
  position: relative;
  z-index: 1;
}

.team .member .member-img .social {
  position: absolute;
  inset: 0;
  background-color: rgba(var(--gray), 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding-bottom: 20px;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}

.team .member .member-img .social a {
  transition: 0.3s;
  color: var(--bluebold);
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.team .member .member-img .social a:hover {
  color: var(--gray);
}

.team .member .member-info {
  padding: 30px 0px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.team .member .member-info h4 {
  color: var(--bluebold);
  font-size: 18px;
  font-family: "Roboto-Bold";
}

.team .member .member-info span {
  font-style: italic;
  display: block;
  font-size: 14px;
  color: rgba(var(--gray), 0.6);
  margin: 15px 0;
  font-family: "Roboto-Light";
}

.team .member .member-info p {
  font-size: 13px;
  font-family: "Roboto-Regular";
  color: var(--gray);
}

.team .member:hover .member-img .social {
  padding-bottom: 0;
  visibility: visible;
  opacity: 1;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .section-title {
    text-align: center;
    padding-bottom: 60px;
  }

  .section-title h3 {
    color: var(--bluebold);
    font-size: 20px;
    position: relative;
    font-family: "Roboto-Medium";
  }

  .section-title h3:before,
  .section-title h3:after {
    content: "";
    width: 20px;
    height: 2px;
    background: var(--bluebold);
    display: inline-block;
  }

  .section-title h3:before {
    margin: 0 5px 5px 0;
  }

  .section-title h3:after {
    margin: 0 0 5px 5px;
  }

  .section-title p {
    margin-bottom: 0;
    font-family: "Roboto-Light";
    font-size: 14px;
  }
  .team .member .member-info p {
    margin-bottom: 0;
    font-size: 12px;
    font-family: "Roboto-Regular";
    color: var(--gray);
  }
}
@media (max-width: 575px) {
  .section-title {
    text-align: center;
    padding-bottom: 60px;
  }

  .section-title h3 {
    color: var(--bluebold);
    font-size: 20px;
    position: relative;
    font-family: "Roboto-Bold";
  }

  .section-title h3:before,
  .section-title h3:after {
    content: "";
    width: 20px;
    height: 2px;
    background: var(--bluebold);
    display: inline-block;
  }

  .section-title h3:before {
    margin: 0 5px 5px 0;
  }

  .section-title h3:after {
    margin: 0 0 5px 5px;
  }

  .section-title p {
    margin-bottom: 0;
    font-family: "Roboto-Regular";
    font-size: 14px;
  }
  .team .member .member-info p {
    margin-bottom: 0;
    font-size: 12px;
    font-family: "Roboto-Regular";
    color: var(--gray);
  }
  .team {
    padding: 10px 0;
  }
}
@media (max-width: 1024px) {
  .team .member .member-img {
    margin: 0 60px;
  }
}
