.contact {
  padding: 100px 0;
}
.contact-title {
  text-align: center;
  padding-bottom: 60px;
}

.contact-title h3 {
  color: var(--bluebold);
  font-size: 32px;
  position: relative;
  font-family: "Roboto-Bold";
}

.contact-title h3:before,
.contact-title h3:after {
  content: "";
  width: 20px;
  height: 2px;
  background: var(--bluebold);
  display: inline-block;
}

.contact-title h3:before {
  margin: 0 15px 10px 0;
}

.contact-title h3:after {
  margin: 0 0 10px 15px;
}

.contact-title p {
  margin-bottom: 0;
  font-family: "Roboto-Regular";
  color: var(--bluebold);
  font-size: 16px;
}
.contact-us {
  position: relative;
}

.contact-us::before {
  content: url(../../img/contact-left.jpg);
  top: -60px;
  left: 0;
  position: absolute;
  width: 103px;
  height: 464px;
  z-index: -1;
}

.contact-us::after {
  content: url(../../img/contact-left.jpg);
  bottom: -90px;
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  width: 103px;
  height: 464px;
  z-index: -1;
}

.contact-us .contact-us-content {
  border-radius: 23px;
  padding: 30px;
  background-color: #fff;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.contact-us .contact-us-content #contact-form {
  padding: 30px 40px;
  border-radius: 23px 23px 0px 0px;
  border: 1px solid #f3d7ff;
}

#contact-form .section-heading {
  text-align: center;
}

#contact-form input {
  width: 100%;
  height: 46px;
  border-radius: 23px;
  background-color: #ececeb;
  border: none;
  outline: none;
  padding: 0px 15px;
  font-size: 14px;
  color: #2a2a2a;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Roboto-Light";
}

#contact-form input::placeholder {
  color: #2a2a2a;
}

#contact-form textarea {
  width: 100%;
  height: 120px;
  border-radius: 23px;
  background-color: #ececeb;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 14px;
  color: #2a2a2a;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Roboto-Light";
}

#contact-form textarea::placeholder {
  color: #2a2a2a;
}

#contact-form button {
  border: none;
  height: 46px;
  background-color: var(--bluebold);
  width: 100%;
  border-radius: 23px;
  color: #fff;
  transition: all 0.4s;
  font-family: "Roboto-Medium";
}

#contact-form button:hover {
  opacity: 0.8;
}

.contact-us-content .more-info {
  text-align: center;
  background: var(--bluebold);
  background-image: var(--bluebold);
  border-radius: 0px 0px 23px 23px;
  padding: 20px;
}

.contact-us-content .more-info .info-item {
  text-align: center;
}
.contact-us-content .more-info h4 a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto-Medium";
}
.contact-us-content .more-info h4 a:hover {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  font-family: "Roboto-Light";
}
@media (max-width: 575px) {
  .contact-us .contact-us-content #contact-form {
    padding: 30px 10px;
    border-radius: 23px 23px 0px 0px;
    border: 1px solid #f3d7ff;
  }

  #contact-form .section-heading {
    text-align: center;
  }
  .contact-us .contact-us-content {
    border-radius: 23px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .contact-us .contact-us-content #contact-form {
    padding: 20px;
    border-radius: 23px 23px 0px 0px;
    border: 1px solid #f3d7ff;
  }
}
