@font-face {
  font-family: "Roboto-Medium";
  src: url("/src/fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/src/fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/src/fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/src/fonts/Roboto-Light.ttf");
  font-weight: bold;
  font-style: normal;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
  background-color: #fff;
  display: flex;
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
  cursor: pointer;
}
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  color: var(--bluebold);
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto-Bold";
  font-size: 16px;
  color: var(--bluebold);
  cursor: pointer;
}
.navbar .active {
  font-family: "Roboto-Regular";
  cursor: pointer;
  position: relative;
  background: white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  &:after,
  &:before {
    content: " ";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 0px solid var(--bluebold);
    transition: all 1s;
  }
  &:after {
    top: 5px;
    left: 5px;
    border-top: 3px solid var(--bluebold);
    border-left: 3px solid var(--bluebold);
  }
  &:before {
    bottom: 5px;
    right: 5px;
    border-bottom: 3px solid var(--bluebold);
    border-right: 3px solid var(--bluebold);
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    &:before,
    &:after {
      width: 50%;
      height: 50%;
    }
  }
}
.mobile-nav-toggle {
  color: var(--bluebold);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 1200px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
