.footer {
  background: var(--blueBG);
  padding: 0 0 30px 0;
  font-size: 14px;
  margin-top: 100px;
}

.footer .footer-top {
  background: white url(../../img/footer-bg.png) no-repeat right top;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
  text-align: justify;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-top .footer-info p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto-Light";
  color: #747579;
}

.footer .footer-top .social-links a {
  font-size: 30px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 20px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  color: var(--bluebold);
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: var(--bluebold);
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
  font-size: 16px;
}
.footer .footer-top .footer-contact strong {
  font-size: 16px;
}
.footer .copyright {
  text-align: center;
  padding-top: 40px;
  color: var(--bluebold);
}
.footer .copyright p {
  font-size: 14px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer .footer-newsletter h3 {
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 2;
    color: #274685;

    font-family: "Roboto-Bold";
  }
  .footer .footer-newsletter p {
    font-size: 12px;
    color: var(--gray);
    font-family: "Roboto-Light";
  }
}
@media (max-width: 575px) {
  .footer .footer-top {
    background: white url(../../img/footer-bg.png) no-repeat right top;
    background-size: contain;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding: 10px 0 0 0;
  }

  .footer .footer-top .footer-info {
    margin-bottom: 0px;
    text-align: justify;
  }

  .footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 0px;
  }

  .footer .footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
  }

  .footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto-Light";
    color: #747579;
  }

  .footer .footer-top .social-links a {
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 20px;
    transition: 0.3s;
  }

  .footer .footer-top .social-links a:hover {
    color: var(--bluebold);
  }

  .footer .footer-top .footer-contact p {
    line-height: 26px;
    font-size: 14px;
  }
  .footer .footer-top .footer-contact strong {
    font-size: 16px;
  }
  .footer .copyright {
    text-align: center;
    padding-top: 40px;
    color: var(--bluebold);
  }
  .footer .copyright p {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .footer-top {
    background: white url(../../img/footer-bg.png) no-repeat right top;
    background-size: contain;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding: 20px 0 0 0;
  }

  .footer .footer-top .footer-info {
    margin-bottom: 0px;
    text-align: justify;
  }

  .footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 0px;
  }

  .footer .footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
  }

  .footer .footer-top .footer-info p {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto-Light";
    color: #747579;
  }

  .footer .footer-top .social-links a {
    font-size: 30px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 20px;
    transition: 0.3s;
  }

  .footer .footer-top .social-links a:hover {
    color: var(--bluebold);
  }

  .footer .footer-top h4 {
    font-size: 18px;
    font-weight: bold;
    color: var(--bluebold);
    position: relative;
    padding-bottom: 2px;
  }

  .footer .footer-top .footer-contact p {
    line-height: 26px;
    font-size: 18px;
  }
  .footer .footer-top .footer-contact strong {
    font-size: 16px;
  }
  .footer .copyright {
    text-align: center;
    padding-top: 40px;
    color: var(--bluebold);
  }
  .footer .copyright p {
    font-size: 14px;
  }
}
