.testimonials {
    position: relative;
    padding: 60px 0px;
    margin-top: 100px;
}

.testimonials:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 65%;
    height: 100%;
    background-color: #e6f0f9;
    content: "";
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
}

.testimonials .section-heading {
    margin-bottom: 0px;
    margin-left: 60px;
    vertical-align: middle;
}
.section-heading h6 {
    color: var(--bluebold);
    font-size: 22px;
    text-transform: uppercase;
    font-family: "Roboto-Bold";
}
.section-heading h2 {
    font-size: 26px;
    text-transform: capitalize;
    font-family: "Roboto-Bold";
    margin: 12px 0;
}
.section-heading p {
    font-size: 16px;
    font-family: "Roboto-Light";
    line-height: 30px;
    color: var(--black);
}
.testimonials .item {
    background: var(--bluebold);
    border-radius: 85px;
    padding: 60px;
}

.testimonials .item p {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 40px;
    font-family: "Roboto-Regular";
}

.testimonials .item img {
    border-radius: 50%;
    max-width: 100px;
    float: left;
    margin-right: 25px;
}

.testimonials .item span {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: #ddd;
    font-family: "Roboto-Light";
}

.testimonials .item h4 {
    color: #fff;
    font-size: 20px;
    margin-top: 8px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}
@media (min-width: 768px) and (max-width: 991px) {
    .testimonials {
        position: relative;
        padding: 10px 0px;
        margin-top: 50px;
    }

    .testimonials:before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 65%;
        height: 100%;
        background-color: #e6f0f9;
        content: "";
        border-top-left-radius: 500px;
        border-bottom-left-radius: 500px;
    }

    .testimonials .section-heading {
        margin: 24px 0;
        margin-left: 10px;
        vertical-align: middle;
    }
    .section-heading h6 {
        color: var(--bluebold);
        font-size: 28px;
        text-transform: uppercase;
        font-family: "Roboto-Bold";
    }
    .section-heading h2 {
        font-size: 22px;
        text-transform: capitalize;
        font-family: "Roboto-Bold";
        margin: 14px 0;
    }
    .section-heading p {
        font-size: 18px;
        font-family: "Roboto-Light";
        line-height: 30px;
    }
    .testimonials .item {
        background-color: var(--bluebold);
        border-radius: 25px;
        padding: 40px;
    }

    .testimonials .item p {
        font-size: 18px;
        line-height: 32px;
        color: #fff;
        margin-bottom: 40px;
        font-family: "Roboto-Light";
    }

    .testimonials .item img {
        border-radius: 50%;
        max-width: 90px;
        float: left;
        margin-right: 25px;
    }

    .testimonials .item span {
        display: inline-block;
        margin-top: 20px;
        font-size: 14px;
        color: #fff;
    }

    .testimonials .item h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-top: 6px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .testimonials {
        position: relative;
        padding: 10px 0px;
        margin-top: 50px;
    }

    .testimonials:before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 65%;
        height: 100%;
        background-color: #e6f0f9;
        content: "";
        border-top-left-radius: 500px;
        border-bottom-left-radius: 500px;
    }

    .testimonials .section-heading {
        margin: 24px 0;
        margin-left: 10px;
        vertical-align: middle;
    }
    .section-heading h6 {
        color: var(--bluebold);
        font-size: 28px;
        text-transform: uppercase;
        font-family: "Roboto-Bold";
    }
    .section-heading h2 {
        font-size: 22px;
        text-transform: capitalize;
        font-family: "Roboto-Bold";
        margin: 14px 0;
    }
    .section-heading p {
        font-size: 16px;
        font-family: "Roboto-Light";
        line-height: 30px;
    }
    .testimonials .item {
        background-color: var(--bluebold);
        border-radius: 25px;
        padding: 40px;
    }

    .testimonials .item p {
        font-size: 14px;
        line-height: 32px;
        color: #fff;
        margin-bottom: 40px;
        font-family: "Roboto-Light";
    }

    .testimonials .item img {
        border-radius: 50%;
        max-width: 80px;
        float: left;
        margin-right: 25px;
    }

    .testimonials .item span {
        display: inline-block;
        margin-top: 20px;
        font-size: 12px;
        color: #fff;
    }

    .testimonials .item h4 {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        margin-top: 6px;
    }
}
@media (max-width: 575px) {
    .testimonials {
        position: relative;
        padding: 10px 0px;
        margin-top: 20px;
    }
    .testimonials:before {
        display: none;
    }

    .testimonials .section-heading {
        margin: 44px 0;
        margin-left: 6px;
        vertical-align: middle;
    }
    .section-heading h6 {
        color: var(--bluebold);
        font-size: 28px;
        position: relative;
        font-family: "Roboto-Bold";
    }
    .section-heading h2 {
        font-size: 16px;
        text-transform: capitalize;
        font-family: "Roboto-Bold";
        margin: 14px 0;
    }
    .section-heading p {
        font-size: 14px;
        font-family: "Roboto-Light";
        line-height: 24px;
    }
    .testimonials .item {
        background-color: var(--bluebold);
        border-radius: 25px;
        padding: 20px;
    }

    .testimonials .item p {
        font-size: 13px;
        line-height: 20px;
        color: #fff;
        margin-bottom: 30px;
        font-family: "Roboto-Light";
    }

    .testimonials .item img {
        border-radius: 50%;
        max-width: 70px;
        float: left;
        margin-right: 18px;
    }

    .testimonials .item span {
        display: inline-block;
        margin-top: 20px;
        font-size: 12px;
        color: #fff;
    }

    .testimonials .item h4 {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        margin-top: 6px;
    }
}
