.toggle {
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    position: relative;
    padding: 5px 4px;
    cursor: pointer;
    background: linear-gradient(to right, #1723b1, #58f0ff);
}
.toggle > * {
    width: 1rem;
    height: 1rem;
    color: var(--white);
}
.t-button {
    border-radius: 50%;
    background: var(--white);
    position: absolute;
}
